openapi: 3.0.3
info:
  title: VetIOS API
  version: 1.0.0
  description: Clinical intelligence API for veterinary inference, outcomes, and simulation.
  license:
    name: Proprietary
    url: https://www.vetios.tech/terms
servers:
  - url: https://www.vetios.tech
    description: Production
security:
  - BearerAuth: []
paths:
  /api/inference:
    post:
      operationId: createInference
      summary: Run veterinary diagnostic inference
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceRequest'
      responses:
        '200':
          description: Inference completed
          headers:
            X-RateLimit-Remaining:
              schema:
                type: string
            X-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '502':
          $ref: '#/components/responses/Error'
  /api/outcome:
    post:
      operationId: createOutcome
      summary: Attach a confirmed clinical outcome
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutcomeRequest'
      responses:
        '200':
          description: Outcome stored and calibration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutcomeResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
  /api/simulate:
    post:
      operationId: createSimulation
      summary: Run a stability simulation over synthetic case variants
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateRequest'
      responses:
        '200':
          description: Simulation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulateResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '502':
          $ref: '#/components/responses/Error'
  /api/evaluation:
    get:
      operationId: getEvaluation
      summary: Read tenant inference quality metrics
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Tenant evaluation metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationResponse'
        '401':
          $ref: '#/components/responses/Error'
  /api/health:
    get:
      operationId: getHealth
      summary: Health check
      security: []
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                type: object
                required: [db, inference]
                properties:
                  db:
                    type: string
                    enum: [ok, error]
                  inference:
                    type: string
                    enum: [ok, error]
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
        detail:
          type: string
    Differential:
      type: object
      required: [label, p]
      properties:
        label:
          type: string
          example: canine_parvovirus
        p:
          type: number
          minimum: 0
          maximum: 1
    CIRESignals:
      type: object
      required: [phi_hat, cps, safety_state]
      properties:
        phi_hat:
          type: number
          minimum: 0
          maximum: 1
        cps:
          type: number
          minimum: 0
          maximum: 1
        safety_state:
          type: string
          enum: [nominal, review, hold]
    InputSignature:
      type: object
      required: [species, symptoms]
      properties:
        species:
          type: string
        symptoms:
          type: array
          minItems: 1
          items:
            type: string
        breed:
          type: string
        metadata:
          type: object
          additionalProperties: true
          properties:
            age_years:
              type: number
            labs:
              type: object
              additionalProperties:
                type: number
    InferenceRequest:
      type: object
      required: [model, input]
      properties:
        model:
          type: object
          required: [name, version]
          properties:
            name:
              type: string
            version:
              type: string
        input:
          type: object
          required: [input_signature]
          properties:
            input_signature:
              $ref: '#/components/schemas/InputSignature'
    InferenceResponse:
      type: object
      required: [inference_event_id, data, cire, meta, error]
      properties:
        inference_event_id:
          type: string
          format: uuid
        data:
          type: object
          required: [confidence_score, differentials]
          properties:
            confidence_score:
              type: number
            differentials:
              type: array
              items:
                $ref: '#/components/schemas/Differential'
        cire:
          $ref: '#/components/schemas/CIRESignals'
        meta:
          type: object
          required: [tenant_id, request_id]
          properties:
            tenant_id:
              type: string
            request_id:
              type: string
        error:
          type: object
          nullable: true
    OutcomeRequest:
      type: object
      required: [inference_event_id, outcome]
      properties:
        inference_event_id:
          type: string
          format: uuid
        outcome:
          type: object
          required: [type, payload, timestamp]
          properties:
            type:
              type: string
            payload:
              type: object
              required: [label, confidence]
              properties:
                label:
                  type: string
                confidence:
                  type: number
                  minimum: 0
                  maximum: 1
              additionalProperties: true
            timestamp:
              type: string
              format: date-time
    OutcomeResponse:
      type: object
      required: [outcome_event_id, clinical_case_id, linked_inference_event_id, calibration_delta, request_id]
      properties:
        outcome_event_id:
          type: string
          format: uuid
        clinical_case_id:
          type: string
        linked_inference_event_id:
          type: string
          format: uuid
        calibration_delta:
          type: number
        request_id:
          type: string
    SimulateRequest:
      type: object
      required: [steps, mode, base_case]
      properties:
        steps:
          type: integer
          minimum: 1
          maximum: 50
        mode:
          type: string
          enum: [adaptive, fixed]
        base_case:
          $ref: '#/components/schemas/InputSignature'
        inference:
          type: object
          properties:
            model:
              type: string
            model_version:
              type: string
    SimulateResponse:
      type: object
      required: [simulation_event_id, clinical_case_id, stability_report, request_id]
      properties:
        simulation_event_id:
          type: string
          format: uuid
        clinical_case_id:
          type: string
          format: uuid
        stability_report:
          type: object
          required: [passes, failures, mean_confidence]
          properties:
            passes:
              type: integer
            failures:
              type: integer
            mean_confidence:
              type: number
        request_id:
          type: string
    EvaluationResponse:
      type: object
      required: [tenant_id, period, inference, safety_distribution, simulation]
      properties:
        tenant_id:
          type: string
        period:
          type: string
          enum: [all_time]
        inference:
          type: object
          required: [total, mean_confidence, outcomes_resolved, mean_calibration_delta]
          properties:
            total:
              type: integer
            mean_confidence:
              type: number
            outcomes_resolved:
              type: integer
            mean_calibration_delta:
              type: number
              nullable: true
        safety_distribution:
          type: object
          required: [nominal, review, hold]
          properties:
            nominal:
              type: integer
            review:
              type: integer
            hold:
              type: integer
        simulation:
          type: object
          required: [total_runs, mean_pass_rate]
          properties:
            total_runs:
              type: integer
            mean_pass_rate:
              type: number
