openapi: 3.1.0
info:
  title: VetIOS Clinical Intelligence API
  version: 1.0.0
  description: |
    The VetIOS API provides clinical inference, outcome contribution,
    federated learning, and PetPass integration for veterinary software.
    Base URL: https://api.vetios.tech/v1
  contact:
    name: VetIOS Developer Support
    email: api@vetios.tech
    url: https://www.vetios.tech/developer
  x-changelog: https://www.vetios.tech/developer/changelog
servers:
  - url: https://api.vetios.tech/v1
    description: Production
  - url: https://sandbox.vetios.tech/v1
    description: Sandbox (no billing, limited quota)
security:
  - BearerAuth: []
tags:
  - name: Inference
  - name: Outcomes
  - name: Dataset
  - name: Models
  - name: PetPass
  - name: Usage
  - name: Moat
  - name: Audit
  - name: Pharma
paths:
  /inference/differential:
    post:
      tags: [Inference]
      summary: Ranked clinical differential diagnosis
      x-scope: inference
      x-plan-required: sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceRequest'
            examples:
              default:
                value:
                  model:
                    name: VetIOS Diagnostics
                    version: latest
                  input:
                    input_signature:
                      species: canine
                      breed: German Shepherd
                      symptoms:
                        - vomiting
                        - jaundice
                        - lethargy
                      metadata:
                        age_years: 3
      responses:
        '200':
          description: Differential generated successfully
          headers:
            API-Version: { $ref: '#/components/headers/APIVersion' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-Quota-Limit: { $ref: '#/components/headers/XQuotaLimit' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceResponse'
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/ScopeError' }
        '429': { $ref: '#/components/responses/RateLimitError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /inference/drug-check:
    post:
      tags: [Inference]
      summary: Species-specific drug interaction and dosing review
      x-scope: inference
      x-plan-required: clinic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DrugCheckRequest'
            examples:
              default:
                value:
                  inference_event_id: 11111111-1111-4111-8111-111111111111
                  context:
                    resource_profile: advanced
                    regulatory_region: KE
                    care_environment: specialty
                    comorbidities: [hepatic dysfunction]
                    lab_flags: [ALT_high, bilirubin_high]
      responses:
        '200':
          description: Drug check returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrugCheckResponse'
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/ScopeError' }
        '429': { $ref: '#/components/responses/RateLimitError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /inference/adversarial:
    post:
      tags: [Inference]
      summary: Adversarial simulation for edge-case failure analysis
      x-scope: simulation
      x-plan-required: research
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdversarialRequest'
      responses:
        '200':
          description: Adversarial sweep generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdversarialResponse'
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/ScopeError' }
        '429': { $ref: '#/components/responses/RateLimitError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /outcomes/contribute:
    post:
      tags: [Outcomes]
      summary: Federated outcome contribution
      x-scope: outcomes
      x-plan-required: clinic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutcomeContributionRequest'
      responses:
        '200':
          description: Outcome contribution accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutcomeContributionResponse'
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/ScopeError' }
        '429': { $ref: '#/components/responses/RateLimitError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /dataset/prevalence:
    get:
      tags: [Dataset]
      summary: Regional disease prevalence queries
      x-scope: dataset
      x-plan-required: research
      parameters:
        - in: query
          name: species
          schema: { type: string }
        - in: query
          name: region
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 500, minimum: 50, maximum: 1000 }
      responses:
        '200':
          description: Dataset prevalence summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetPrevalenceResponse'
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/ScopeError' }
        '429': { $ref: '#/components/responses/RateLimitError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /models/card:
    get:
      tags: [Models]
      summary: Live model performance metrics
      x-scope: inference
      x-plan-required: clinic
      responses:
        '200':
          description: Model registry summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelCardResponse'
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/ScopeError' }
        '429': { $ref: '#/components/responses/RateLimitError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /petpass/sync:
    post:
      tags: [PetPass]
      summary: Push visit record to PetPass
      x-scope: petpass
      x-plan-required: clinic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PetPassSyncRequest'
      responses:
        '201':
          description: Visit sync staged successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetPassSyncResponse'
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/ScopeError' }
        '429': { $ref: '#/components/responses/RateLimitError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /petpass/history/{pet_id}:
    get:
      tags: [PetPass]
      summary: Retrieve pet health history
      x-scope: petpass
      x-plan-required: clinic
      parameters:
        - in: path
          name: pet_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: PetPass history payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetPassHistoryResponse'
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/ScopeError' }
        '429': { $ref: '#/components/responses/RateLimitError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /usage/quota:
    get:
      tags: [Usage]
      summary: Current quota status
      x-scope: inference
      x-plan-required: sandbox
      responses:
        '200':
          description: Current quota usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageQuotaResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/ScopeError' }
        '429': { $ref: '#/components/responses/RateLimitError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /usage/analytics:
    get:
      tags: [Usage]
      summary: Usage analytics summary
      x-scope: inference
      x-plan-required: sandbox
      parameters:
        - in: query
          name: days
          schema: { type: integer, default: 30, minimum: 1, maximum: 365 }
      responses:
        '200':
          description: Usage analytics overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageAnalyticsResponse'
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/ScopeError' }
        '429': { $ref: '#/components/responses/RateLimitError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /api/intake:
    post:
      tags: [Moat]
      summary: Structured intake session with immediate differential inference
      x-scope: inference:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntakeSessionRequest'
      responses:
        '201': { $ref: '#/components/responses/StructuredSuccess' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/AuthError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /api/population/contribute:
    post:
      tags: [Moat]
      summary: Contribute an anonymized population learning signal from a closed case
      x-scope: outcome:write
      responses:
        '201': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /api/cron/population-calibration:
    post:
      tags: [Moat]
      summary: Vercel cron endpoint for population confidence calibration
      security:
        - CronSecret: []
      responses:
        '200': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /api/labs/recommend:
    post:
      tags: [Moat]
      summary: Generate autonomous lab recommendations for an inference event
      x-scope: inference:write
      responses:
        '201': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /api/labs/result:
    post:
      tags: [Moat]
      summary: Append a structured lab result against a recommendation
      x-scope: outcome:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabResultRequest'
      responses:
        '201': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /api/labs/recommendations/{inference_event_id}:
    get:
      tags: [Moat]
      summary: Read lab recommendations for an inference event
      x-scope: inference:write
      parameters:
        - in: path
          name: inference_event_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
  /api/adverse-event:
    post:
      tags: [Pharma]
      summary: Append an adverse event signal from an outcome payload
      x-scope: outcome:write
      responses:
        '201': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
  /api/imaging/ingest:
    post:
      tags: [Moat]
      summary: Passive connector ingestion for DICOM and imaging studies
      security:
        - PassiveConnectorKey: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [metadata]
              properties:
                metadata:
                  type: string
                  description: JSON metadata including tenant_id, patient_id, study_id, species, modality, and body_region.
                file:
                  type: string
                  format: binary
      responses:
        '201': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /api/telemetry/ingest:
    post:
      tags: [Moat]
      summary: Passive connector ingestion for wearable telemetry batches
      security:
        - PassiveConnectorKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryIngestRequest'
      responses:
        '201': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /api/teleconsult/session:
    post:
      tags: [Moat]
      summary: Create a telemedicine intake session
      x-scope: inference:write
      responses:
        '201': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /api/teleconsult/extract:
    post:
      tags: [Moat]
      summary: Extract typed symptom codes from optional owner text for vet confirmation
      responses:
        '200': { $ref: '#/components/responses/StructuredSuccess' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /api/teleconsult/stream/{session_id}:
    get:
      tags: [Moat]
      summary: Server-sent inference updates for a telemedicine session
      parameters:
        - in: path
          name: session_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: text/event-stream payload
  /api/cron/outbreak-scan:
    post:
      tags: [Moat]
      summary: Vercel cron endpoint for regional outbreak cluster scanning
      security:
        - CronSecret: []
      responses:
        '200': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
        '500': { $ref: '#/components/responses/InternalError' }
  /api/outbreak/clusters:
    get:
      tags: [Moat]
      summary: List active elevated or alert symptom clusters
      security:
        - InternalToken: []
      responses:
        '200': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
  /api/outbreak/subscribe:
    post:
      tags: [Moat]
      summary: Register a public health webhook subscription for outbreak alerts
      security:
        - InternalToken: []
      responses:
        '201': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
  /api/pharma/signals:
    get:
      tags: [Pharma]
      summary: Query anonymized adverse drug reaction signals
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: species
          schema: { type: string }
        - in: query
          name: drug_class
          schema: { type: string }
        - in: query
          name: severity
          schema: { type: string, enum: [mild, moderate, severe, fatal] }
      responses:
        '200': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
        '403': { $ref: '#/components/responses/ScopeError' }
  /api/pharma/webhook-subscribe:
    post:
      tags: [Pharma]
      summary: Register an ADR signal webhook subscription
      responses:
        '201': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
  /api/audit/case/{case_id}:
    get:
      tags: [Audit]
      summary: Return the append-only event chain for a clinical case
      security:
        - InternalToken: []
      parameters:
        - in: path
          name: case_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
  /api/audit/verify:
    post:
      tags: [Audit]
      summary: Recompute and verify an audit chain for a clinical case
      security:
        - InternalToken: []
      responses:
        '200': { $ref: '#/components/responses/StructuredSuccess' }
        '401': { $ref: '#/components/responses/AuthError' }
  /api/audit/report/{case_id}:
    post:
      tags: [Audit]
      summary: Generate a signed audit report PDF for a clinical case
      security:
        - InternalToken: []
      parameters:
        - in: path
          name: case_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: PDF audit report
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '401': { $ref: '#/components/responses/AuthError' }
  /api/telemetry/patient/{patient_id}/live:
    get:
      tags: [Moat]
      summary: Server-sent telemetry snapshot stream for a patient
      parameters:
        - in: path
          name: patient_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: text/event-stream payload
  /api/telemetry/patient/{patient_id}/history:
    get:
      tags: [Moat]
      summary: Paginated telemetry history with anomaly overlays
      parameters:
        - in: path
          name: patient_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/StructuredSuccess' }
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key issued from developer.vetios.tech. Format: vios_k1_...
    CronSecret:
      type: apiKey
      in: header
      name: authorization
      description: Bearer token matching CRON_SECRET.
    PassiveConnectorKey:
      type: apiKey
      in: header
      name: x-vetios-ingest-key
      description: Shared passive connector ingestion key.
    InternalToken:
      type: http
      scheme: bearer
      description: Internal operator token matching VETIOS_INTERNAL_API_TOKEN.
  headers:
    APIVersion:
      schema: { type: string, example: 1.0.0 }
    XRateLimitLimit:
      schema: { type: integer, example: 60 }
    XQuotaLimit:
      schema: { type: integer, example: 10000 }
  responses:
    ValidationError:
      description: Request validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid:
              value:
                error: input.input_signature.symptoms: Expected array
    AuthError:
      description: Invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid:
              value:
                error: Invalid API key
    ScopeError:
      description: Insufficient scope or suspended partner
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimitError:
      description: Rate limit or quota exceeded
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/RateLimitErrorResponse'
              - $ref: '#/components/schemas/QuotaExceededErrorResponse'
    InternalError:
      description: Internal platform error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    StructuredSuccess:
      description: Structured VetIOS success envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StructuredEnvelope'
  schemas:
    StructuredEnvelope:
      type: object
      properties:
        data:
          type: object
          nullable: true
          additionalProperties: true
        error:
          type: object
          nullable: true
          additionalProperties: true
        request_id: { type: string }
    IntakeSessionRequest:
      type: object
      required: [patient_id, species, presenting_symptoms]
      properties:
        patient_id: { type: string, format: uuid }
        species:
          type: string
          enum: [canine, feline, equine, bovine, ovine, caprine, porcine, avian, reptile, rabbit, ferret, other]
        weight_kg: { type: number, nullable: true }
        age_years: { type: number, nullable: true }
        presenting_symptoms:
          type: array
          items: { type: string }
        vitals:
          type: object
          additionalProperties: true
        medications_current:
          type: array
          items:
            type: object
            additionalProperties: true
        imaging_study_ids:
          type: array
          items: { type: string, format: uuid }
    LabResultRequest:
      type: object
      required: [lab_recommendation_id, panel_code, result_value, unit, result_interpretation]
      properties:
        lab_recommendation_id: { type: string, format: uuid }
        panel_code: { type: string }
        result_value: { type: number }
        unit: { type: string }
        reference_range_low: { type: number, nullable: true }
        reference_range_high: { type: number, nullable: true }
        result_interpretation:
          type: string
          enum: [normal, low, high, critical_low, critical_high]
    TelemetryIngestRequest:
      type: object
      required: [tenant_id, patient_id, device_id, device_type, readings]
      properties:
        tenant_id: { type: string, format: uuid }
        patient_id: { type: string, format: uuid }
        device_id: { type: string }
        device_type:
          type: string
          enum: [collar, implant, patch, external_monitor]
        species: { type: string }
        readings:
          type: array
          items:
            type: object
            required: [metric_type, value, recorded_at]
            properties:
              metric_type:
                type: string
                enum: [heart_rate_bpm, temperature_c, respiratory_rate_bpm, activity_score, spo2_pct, glucose_mmol]
              value: { type: number }
              recorded_at: { type: string, format: date-time }
              quality_score: { type: number, minimum: 0, maximum: 1 }
    ErrorResponse:
      type: object
      properties:
        error: { type: string }
      required: [error]
    RateLimitErrorResponse:
      type: object
      properties:
        error: { type: string, enum: [rate_limit_exceeded] }
        message: { type: string }
        retry_after: { type: integer }
        docs: { type: string, format: uri }
      required: [error, message, retry_after, docs]
    QuotaExceededErrorResponse:
      type: object
      properties:
        error: { type: string, enum: [monthly_quota_exceeded] }
        message: { type: string }
        quota_resets_at: { type: string, format: date-time, nullable: true }
        upgrade_url: { type: string, format: uri }
      required: [error, message, upgrade_url]
    InferenceRequest:
      type: object
      required: [model, input]
      properties:
        clinic_id: { type: string, nullable: true }
        case_id: { type: string, nullable: true }
        model:
          type: object
          required: [name, version]
          properties:
            name: { type: string }
            version: { type: string }
        input:
          type: object
          required: [input_signature]
          properties:
            input_signature:
              type: object
              properties:
                species: { type: string, nullable: true }
                breed: { type: string, nullable: true }
                symptoms:
                  type: array
                  items: { type: string }
                metadata:
                  type: object
                  additionalProperties: true
    InferenceResponse:
      type: object
      properties:
        request_id: { type: string }
        inference_event_id: { type: string, format: uuid }
        confidence_score: { type: number, nullable: true }
        output_payload:
          type: object
          additionalProperties: true
      additionalProperties: true
    DrugCheckRequest:
      type: object
      required: [inference_event_id]
      properties:
        inference_event_id: { type: string, format: uuid }
        context:
          type: object
          properties:
            resource_profile: { type: string, enum: [advanced, low_resource] }
            regulatory_region: { type: string }
            care_environment: { type: string }
            comorbidities:
              type: array
              items: { type: string }
            lab_flags:
              type: array
              items: { type: string }
    DrugCheckResponse:
      type: object
      properties:
        request_id: { type: string }
        case_id: { type: string, nullable: true }
        episode_id: { type: string, nullable: true }
      additionalProperties: true
    AdversarialRequest:
      type: object
      properties:
        base_case:
          type: object
          additionalProperties: true
        steps: { type: integer, minimum: 5, maximum: 15, default: 10 }
        mode: { type: string, enum: [linear, adaptive], default: adaptive }
        simulation:
          type: object
          properties:
            type: { type: string }
            parameters:
              type: object
              additionalProperties: true
        inference:
          type: object
          properties:
            model: { type: string }
            model_version: { type: string }
    AdversarialResponse:
      type: object
      additionalProperties: true
    OutcomeContributionRequest:
      type: object
      required: [inference_event_id, outcome]
      properties:
        inference_event_id: { type: string, format: uuid }
        clinic_id: { type: string, nullable: true }
        case_id: { type: string, nullable: true }
        outcome:
          type: object
          required: [type, payload, timestamp]
          properties:
            type: { type: string }
            payload:
              type: object
              additionalProperties: true
            timestamp: { type: string, format: date-time }
    OutcomeContributionResponse:
      type: object
      additionalProperties: true
    DatasetPrevalenceResponse:
      type: object
      properties:
        species: { type: string, nullable: true }
        region: { type: string, nullable: true }
        cases_analyzed: { type: integer }
        conditions:
          type: array
          items:
            type: object
            properties:
              condition: { type: string }
              count: { type: integer }
              prevalence_pct: { type: number }
    ModelCardResponse:
      type: object
      properties:
        tenant_id: { type: string }
        refreshed_at: { type: string, format: date-time }
        cards:
          type: array
          items:
            type: object
            additionalProperties: true
    PetPassSyncRequest:
      type: object
      required: [owner_account_id, pet_id, visit_date]
      properties:
        owner_account_id: { type: string, format: uuid }
        pet_id: { type: string, format: uuid }
        clinic_id: { type: string, nullable: true }
        clinic_name: { type: string, nullable: true }
        visit_date: { type: string, format: date-time }
        diagnoses:
          type: array
          items: { type: string }
        prescriptions:
          type: array
          items: { type: string }
        weight_kg: { type: number, nullable: true }
        next_appointment: { type: string, nullable: true }
        summary: { type: string, nullable: true }
        channel: { type: string, enum: [sms, email, push] }
        send_notification: { type: boolean }
    PetPassSyncResponse:
      type: object
      properties:
        synced: { type: boolean }
        timeline_entry_id: { type: string, format: uuid }
        notification_delivery_id: { type: string, format: uuid, nullable: true }
      required: [synced, timeline_entry_id]
    PetPassHistoryResponse:
      type: object
      properties:
        pet:
          type: object
          additionalProperties: true
        timeline:
          type: array
          items:
            type: object
            additionalProperties: true
        notifications:
          type: array
          items:
            type: object
            additionalProperties: true
    UsageQuotaResponse:
      type: object
      properties:
        plan: { type: string }
        period_start: { type: string, format: date-time }
        period_end: { type: string, format: date-time }
        requests_used: { type: integer }
        requests_limit: { type: integer }
        pct_used: { type: number }
        projected_month_end: { type: integer }
        on_track: { type: boolean }
    UsageAnalyticsResponse:
      type: object
      properties:
        total_requests: { type: integer }
        successful_requests: { type: integer }
        failed_requests: { type: integer }
        avg_response_time_ms: { type: number }
        p95_response_time_ms: { type: number }
        requests_by_day:
          type: array
          items:
            type: object
            properties:
              date: { type: string }
              count: { type: integer }
        quota_used_pct: { type: number }
        billable_requests: { type: integer }
        estimated_cost_usd: { type: number }
