openapi: 3.0.3
info:
  title: VetIOS API
  version: 1.0.0
  description: Clinical intelligence API for veterinary inference, outcomes, and simulation.
  license:
    name: Proprietary
    url: https://www.vetios.tech/terms
servers:
  - url: https://www.vetios.tech
    description: Production
security:
  - BearerAuth: []
paths:
  /api/inference:
    post:
      operationId: createInference
      summary: Run veterinary diagnostic inference
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceRequest'
      responses:
        '200':
          description: Inference completed
          headers:
            X-RateLimit-Remaining:
              schema:
                type: string
            X-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        '502':
          $ref: '#/components/responses/Error'
  /api/outcome:
    post:
      operationId: createOutcome
      summary: Attach a confirmed clinical outcome
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutcomeRequest'
      responses:
        '200':
          description: Outcome stored and calibration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutcomeResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
  /api/simulate:
    post:
      operationId: createSimulation
      summary: Run a stability simulation over synthetic case variants
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateRequest'
      responses:
        '200':
          description: Simulation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulateResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '502':
          $ref: '#/components/responses/Error'
  /api/evaluation:
    get:
      operationId: getEvaluation
      summary: Read tenant inference quality metrics
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Tenant evaluation metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationResponse'
        '401':
          $ref: '#/components/responses/Error'
  /api/rag/catalog:
    get:
      operationId: getRagCatalog
      summary: List the curated veterinary and medical RAG catalog
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Catalog and readiness returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RagCatalogResponse'
        '401':
          $ref: '#/components/responses/Error'
    post:
      operationId: seedRagCatalog
      summary: Seed or refresh curated RAG sources for the tenant
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force_refresh:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Catalog seed completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RagCatalogRunResponse'
        '207':
          description: Catalog seed completed with connector warnings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RagCatalogRunResponse'
        '401':
          $ref: '#/components/responses/Error'
  /api/rag/sources:
    get:
      operationId: listRagSources
      summary: List tenant RAG sources
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Source list returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  sources:
                    type: array
                    items:
                      $ref: '#/components/schemas/RagSource'
                  request_id:
                    type: string
        '401':
          $ref: '#/components/responses/Error'
    post:
      operationId: createRagSource
      summary: Register a RAG source
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RagSourceInput'
      responses:
        '201':
          description: Source created
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    $ref: '#/components/schemas/RagSource'
                  request_id:
                    type: string
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /api/rag/documents:
    get:
      operationId: listRagDocuments
      summary: List indexed RAG documents
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Document list returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: '#/components/schemas/RagDocument'
                  request_id:
                    type: string
        '401':
          $ref: '#/components/responses/Error'
    post:
      operationId: ingestRagDocument
      summary: Ingest source text into the RAG corpus
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RagDocumentIngestRequest'
      responses:
        '201':
          description: Document indexed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RagDocumentIngestResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /api/index_source:
    post:
      operationId: indexSourceBundle
      summary: Bulk index a veterinary evidence source bundle
      description: Accepts the VetIOS index_source payload shape and indexes multiple evidence documents into the tenant RAG corpus.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexSourceBundleRequest'
      responses:
        '201':
          description: Source bundle indexed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexSourceBundleResponse'
        '207':
          description: Source bundle partially indexed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexSourceBundleResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /api/index_sources:
    post:
      operationId: indexSourceDataset
      summary: Build a larger VetIOS RAG training corpus from multiple source bundles
      description: Indexes multiple veterinary evidence source bundles into the tenant RAG corpus for citation-grounded model reasoning. Use only licensed, public-domain, owned, or otherwise authorized extracts.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexSourceDatasetRequest'
      responses:
        '201':
          description: Dataset indexed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexSourceDatasetResponse'
        '207':
          description: Dataset partially indexed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexSourceDatasetResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /api/rag/query:
    post:
      operationId: queryRagEvidence
      summary: Retrieve citation-first evidence for a clinical question
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RagQueryRequest'
      responses:
        '200':
          description: Evidence answer returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RagQueryResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /api/rag/closed-loop:
    get:
      operationId: getRagClosedLoop
      summary: Report RAG closed-loop readiness and VetIOS self-protection posture
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Closed-loop and self-protection status returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RagClosedLoopResponse'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
  /api/public/cire-standard:
    get:
      operationId: getPublicCireStandard
      summary: Read the public CIRE reliability standard
      security: []
      responses:
        '200':
          description: CIRE standard returned
          headers:
            CIRE-Standard-Version:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CireStandardResponse'
  /api/public/cire-conformance:
    get:
      operationId: getPublicCireConformance
      summary: Read the public CIRE conformance fixture and validation result
      security: []
      responses:
        '200':
          description: CIRE conformance artifact returned
          headers:
            CIRE-Standard-Version:
              schema:
                type: string
            CIRE-Conformance-Result:
              schema:
                type: string
                enum: [passed, failed]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CireConformanceResponse'
  /api/public/cire-certifications:
    get:
      operationId: getPublicCireCertifications
      summary: Read the public CIRE implementation certification registry
      security: []
      responses:
        '200':
          description: Public CIRE certification registry returned
          headers:
            CIRE-Standard-Version:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CireCertificationRegistryResponse'
  /api/health:
    get:
      operationId: getHealth
      summary: Health check
      security: []
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                type: object
                required: [db, inference]
                properties:
                  db:
                    type: string
                    enum: [ok, error]
                  inference:
                    type: string
                    enum: [ok, error]
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
        detail:
          type: string
    RagSource:
      type: object
      required: [id, name, source_type, authority_tier, species_scope, medicine_domain, status]
      properties:
        id:
          type: string
          format: uuid
        external_key:
          type: string
          nullable: true
        name:
          type: string
        source_type:
          type: string
          enum: [guideline, journal, textbook, drug_label, lab_reference, clinical_protocol, client_handout, dataset, web, file, other]
        authority_tier:
          type: string
          enum: [peer_reviewed, specialist_guideline, regulatory, institutional, clinic_local, unverified]
        species_scope:
          type: array
          items:
            type: string
        medicine_domain:
          type: array
          items:
            type: string
        url:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, paused, quarantined]
    RagSourceInput:
      type: object
      required: [name]
      properties:
        external_key:
          type: string
        name:
          type: string
        source_type:
          type: string
        authority_tier:
          type: string
        species_scope:
          type: array
          items:
            type: string
        medicine_domain:
          type: array
          items:
            type: string
        url:
          type: string
          nullable: true
        license:
          type: string
          nullable: true
        attribution:
          type: string
          nullable: true
    RagDocument:
      type: object
      required: [id, source_id, title, ingestion_status, content_length]
      properties:
        id:
          type: string
          format: uuid
        source_id:
          type: string
          format: uuid
        title:
          type: string
        document_type:
          type: string
        content_length:
          type: integer
        ingestion_status:
          type: string
          enum: [pending, indexed, failed, quarantined]
        indexed_at:
          type: string
          nullable: true
    RagReadiness:
      type: object
      required: [sources, documents, chunks, high_authority_sources, stale_documents, ready, warnings]
      properties:
        sources:
          type: integer
        documents:
          type: integer
        chunks:
          type: integer
        high_authority_sources:
          type: integer
        stale_documents:
          type: integer
        last_refreshed_at:
          type: string
          nullable: true
        ready:
          type: boolean
        warnings:
          type: array
          items:
            type: string
    RagCatalogResponse:
      type: object
      properties:
        catalog:
          type: array
          items:
            type: object
            additionalProperties: true
        readiness:
          $ref: '#/components/schemas/RagReadiness'
        request_id:
          type: string
    RagClosedLoopResponse:
      type: object
      properties:
        closed_loop:
          type: object
          additionalProperties: true
          properties:
            system_id:
              type: string
              enum: [vetios_agentic_rag_closed_loop]
            closed_loop_ready:
              type: boolean
            clinical_reasoning_infrastructure:
              type: string
              enum: [ready, needs_evidence]
            diagnostic_intelligence_pipelines:
              type: string
              enum: [ready, needs_evidence]
            learning_mode:
              type: string
              enum: [evidence_grounded_human_gated]
            corpus:
              $ref: '#/components/schemas/RagReadiness'
        self_protection:
          type: object
          additionalProperties: true
        request_assessment:
          type: object
          additionalProperties: true
        request_id:
          type: string
    RagCatalogRunResponse:
      type: object
      properties:
        run_id:
          type: string
          nullable: true
        run_mode:
          type: string
          enum: [catalog_seed, catalog_refresh]
        sources_attempted:
          type: integer
        sources_indexed:
          type: integer
        documents_indexed:
          type: integer
        chunks_indexed:
          type: integer
        readiness:
          $ref: '#/components/schemas/RagReadiness'
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              message:
                type: string
        request_id:
          type: string
    RagDocumentIngestRequest:
      type: object
      required: [source, document]
      properties:
        source:
          type: object
          properties:
            id:
              type: string
              format: uuid
            external_key:
              type: string
            name:
              type: string
            source_type:
              type: string
            authority_tier:
              type: string
            species_scope:
              type: array
              items:
                type: string
            medicine_domain:
              type: array
              items:
                type: string
            url:
              type: string
              nullable: true
            license:
              type: string
              nullable: true
            attribution:
              type: string
              nullable: true
        document:
          type: object
          required: [title]
          properties:
            title:
              type: string
            document_type:
              type: string
              default: text
            language:
              type: string
              default: en
            content_text:
              type: string
            content_url:
              type: string
            fetch_url:
              type: boolean
              default: false
            metadata:
              type: object
              additionalProperties: true
    RagDocumentIngestResponse:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/RagSource'
        document:
          $ref: '#/components/schemas/RagDocument'
        chunks_indexed:
          type: integer
        embedding_model:
          type: string
          nullable: true
        deterministic_embeddings:
          type: boolean
        request_id:
          type: string
    IndexSourceBundleRequest:
      type: object
      required: [source_name, documents]
      properties:
        source_name:
          type: string
        source_type:
          type: string
          example: guideline
        authority:
          type: string
          example: specialist_guideline
        species_scope:
          type: array
          items:
            type: string
          example: [canine, feline]
        domain_scope:
          type: array
          items:
            type: string
          example: [clinical_guideline, diagnostics]
        url:
          type: string
          nullable: true
        license:
          type: string
          nullable: true
        attribution:
          type: string
          nullable: true
        documents:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: object
            required: [title]
            properties:
              title:
                type: string
              text:
                type: string
              content_text:
                type: string
              url:
                type: string
                nullable: true
              species:
                type: array
                items:
                  type: string
              domain:
                type: array
                items:
                  type: string
              authority:
                type: string
              source_type:
                type: string
              document_type:
                type: string
              fetch_url:
                type: boolean
              metadata:
                type: object
                additionalProperties: true
    IndexSourceBundleResponse:
      type: object
      properties:
        source_name:
          type: string
        documents_attempted:
          type: integer
        documents_indexed:
          type: integer
        chunks_indexed:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/RagDocumentIngestResponse'
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              message:
                type: string
        request_id:
          type: string
    IndexSourceDatasetRequest:
      type: object
      required: [sources]
      properties:
        dataset_name:
          type: string
          example: VetIOS veterinary evidence training corpus
        sources:
          type: array
          minItems: 1
          maxItems: 25
          items:
            $ref: '#/components/schemas/IndexSourceBundleRequest'
    IndexSourceDatasetResponse:
      type: object
      properties:
        dataset_name:
          type: string
        sources_attempted:
          type: integer
        sources_indexed:
          type: integer
        documents_attempted:
          type: integer
        documents_indexed:
          type: integer
        chunks_indexed:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/IndexSourceBundleResponse'
        errors:
          type: array
          items:
            type: object
            properties:
              source_name:
                type: string
              title:
                type: string
              message:
                type: string
        request_id:
          type: string
    RagQueryRequest:
      type: object
      required: [question]
      properties:
        question:
          type: string
        source_ids:
          type: array
          items:
            type: string
            format: uuid
        species:
          type: string
          nullable: true
        domain:
          type: string
          nullable: true
        strategy:
          type: string
          enum: [hybrid, vector, lexical, clinical_guideline, drug_safety, lab_reference]
          nullable: true
        limit:
          type: integer
          minimum: 1
          maximum: 8
          default: 6
    RagQueryResponse:
      type: object
      properties:
        answer:
          type: string
        answer_mode:
          type: string
          enum: [extractive]
        citations:
          type: array
          items:
            type: object
            additionalProperties: true
        retrieval_stats:
          type: object
          additionalProperties: true
        evaluation:
          type: object
          additionalProperties: true
        query_id:
          type: string
          nullable: true
        request_id:
          type: string
    Differential:
      type: object
      required: [label, p]
      properties:
        label:
          type: string
          example: canine_parvovirus
        p:
          type: number
          minimum: 0
          maximum: 1
    CIRESignals:
      type: object
      required: [phi_hat, cps, safety_state]
      properties:
        phi_hat:
          type: number
          minimum: 0
          maximum: 1
        cps:
          type: number
          minimum: 0
          maximum: 1
        safety_state:
          type: string
          enum: [nominal, review, hold]
    CireStandardResponse:
      type: object
      required: [standard_key, version, status, canonical_url, machine_readable_url, conformance_report_url]
      additionalProperties: true
      properties:
        standard_key:
          type: string
          enum: [vetios-cire-open-standard]
        version:
          type: string
          example: 1.0.0
        status:
          type: string
          enum: [public_reference]
        canonical_url:
          type: string
        machine_readable_url:
          type: string
        conformance_report_url:
          type: string
        certification_registry_url:
          type: string
    CireConformanceResponse:
      type: object
      required: [artifact_key, standard_version, standard_url, conformance_url, report, validation]
      properties:
        artifact_key:
          type: string
          enum: [vetios-cire-conformance-v1]
        standard_version:
          type: string
          example: 1.0.0
        standard_url:
          type: string
        conformance_url:
          type: string
        report:
          type: object
          additionalProperties: true
        validation:
          type: object
          required: [passed, summary, checks]
          additionalProperties: true
          properties:
            passed:
              type: boolean
            summary:
              type: object
              additionalProperties: true
            checks:
              type: array
              items:
                type: object
                additionalProperties: true
    CireCertificationRegistryResponse:
      type: object
      required: [configured, registry]
      properties:
        configured:
          type: boolean
        registry:
          type: object
          required: [registry_key, standard_version, summary, listings]
          properties:
            registry_key:
              type: string
              enum: [vetios-cire-certification-registry]
            standard_version:
              type: string
              example: 1.0.0
            summary:
              type: object
              additionalProperties: true
            listings:
              type: array
              items:
                type: object
                required: [implementation_name, certification_status, conformance_score]
                additionalProperties: true
                properties:
                  implementation_name:
                    type: string
                  implementation_version:
                    type: string
                    nullable: true
                  certification_status:
                    type: string
                    enum: [passed]
                  verification_status:
                    type: string
                    enum: [self_attested, reviewer_verified, signature_verified, third_party_verified]
                  conformance_score:
                    type: number
                    minimum: 0
                    maximum: 1
        error:
          type: string
          nullable: true
    InputSignature:
      type: object
      required: [species, symptoms]
      properties:
        species:
          type: string
        symptoms:
          type: array
          minItems: 1
          items:
            type: string
        breed:
          type: string
        metadata:
          type: object
          additionalProperties: true
          properties:
            age_years:
              type: number
            labs:
              type: object
              additionalProperties:
                type: number
    InferenceRequest:
      type: object
      required: [model, input]
      properties:
        model:
          type: object
          required: [name, version]
          properties:
            name:
              type: string
            version:
              type: string
        input:
          type: object
          required: [input_signature]
          properties:
            input_signature:
              $ref: '#/components/schemas/InputSignature'
    InferenceResponse:
      type: object
      required: [inference_event_id, data, cire, meta, error]
      properties:
        inference_event_id:
          type: string
          format: uuid
        data:
          type: object
          required: [confidence_score, differentials]
          properties:
            confidence_score:
              type: number
            differentials:
              type: array
              items:
                $ref: '#/components/schemas/Differential'
        cire:
          $ref: '#/components/schemas/CIRESignals'
        meta:
          type: object
          required: [tenant_id, request_id]
          properties:
            tenant_id:
              type: string
            request_id:
              type: string
        error:
          type: object
          nullable: true
    OutcomeRequest:
      type: object
      required: [inference_event_id, outcome]
      properties:
        inference_event_id:
          type: string
          format: uuid
        outcome:
          type: object
          required: [type, payload, timestamp]
          properties:
            type:
              type: string
            payload:
              type: object
              required: [label, confidence]
              properties:
                label:
                  type: string
                confidence:
                  type: number
                  minimum: 0
                  maximum: 1
              additionalProperties: true
            timestamp:
              type: string
              format: date-time
    OutcomeResponse:
      type: object
      required: [outcome_event_id, clinical_case_id, linked_inference_event_id, calibration_delta, request_id]
      properties:
        outcome_event_id:
          type: string
          format: uuid
        clinical_case_id:
          type: string
        linked_inference_event_id:
          type: string
          format: uuid
        calibration_delta:
          type: number
        request_id:
          type: string
    SimulateRequest:
      type: object
      required: [steps, mode, base_case]
      properties:
        steps:
          type: integer
          minimum: 1
          maximum: 50
        mode:
          type: string
          enum: [adaptive, fixed]
        base_case:
          $ref: '#/components/schemas/InputSignature'
        inference:
          type: object
          properties:
            model:
              type: string
            model_version:
              type: string
    SimulateResponse:
      type: object
      required: [simulation_event_id, clinical_case_id, stability_report, request_id]
      properties:
        simulation_event_id:
          type: string
          format: uuid
        clinical_case_id:
          type: string
          format: uuid
        stability_report:
          type: object
          required: [passes, failures, mean_confidence]
          properties:
            passes:
              type: integer
            failures:
              type: integer
            mean_confidence:
              type: number
        request_id:
          type: string
    EvaluationResponse:
      type: object
      required: [tenant_id, period, inference, safety_distribution, simulation, evaluation_event_id, request_id]
      properties:
        evaluation_event_id:
          type: string
          format: uuid
          nullable: true
        request_id:
          type: string
        tenant_id:
          type: string
        period:
          type: string
          enum: [all_time]
        inference:
          type: object
          required: [total, mean_confidence, outcomes_resolved, mean_calibration_delta]
          properties:
            total:
              type: integer
            mean_confidence:
              type: number
            outcomes_resolved:
              type: integer
            mean_calibration_delta:
              type: number
              nullable: true
        safety_distribution:
          type: object
          required: [nominal, review, hold]
          properties:
            nominal:
              type: integer
            review:
              type: integer
            hold:
              type: integer
        simulation:
          type: object
          required: [total_runs, mean_pass_rate]
          properties:
            total_runs:
              type: integer
            mean_pass_rate:
              type: number
